{% load static %}<!DOCTYPE html>
<html>
<head>
    <title>THE AGE WATCH STORE</title>
    
    <!--Link to Roboto font--> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!--Link to CSS file-->
    <link rel="stylesheet" href="{% static '/assets/CSS/style.css' %}">
    
</head>

<body>

    <header>
        <h1>AGE Watches</h1>
        <p>Welcome to Your Online Watches Store</p>
    </header>
    
    <!--Navigation Bar-->
    <nav>
        <a href="#">Home</a>
        <a href="#">Products</a>
        <a href="#">Categories</a>
        
        <a href="/contact">Contact</a>
    </nav>

    <!--Product Section-->
    <div class="container">
        {% for c in products %}
        <div class="product">
            <img src="{{ c.image.url }}" alt="Product 1">
            <h3>{{ c.title }}</h3>
            <p class="price">{{ c.price }}</p>
            <button>Buy Now</button>
        </div>
        {% endfor %}
    </div>
    
    <!--Footer for copyrights-->
    <footer>
        <p>&copy; 2026 THE AGE WATCH STORE. All Rights Reserved.</p>
    </footer>

</body>
</html>